.movies-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

.movies-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-template-rows: repeat(auto-fill, minmax(250px, 1fr));
  gap: 2rem;
  list-style: none;
  padding: 40px;
  width: 100vw;
}
