:root {
  font-family: "Michroma", sans-serif;
  line-height: 1.5;
  color-scheme: light dark;
  --dark-background: #242424;
  --light-black-font: #505040;
  --yellow-background: #fcff39;
  --golden-yellow-stars: #f3c600;
  --dark-background-cards: #8b0404;
  --dark-font: #000;
  --light-font-red: #ffcccc;
  --light-font-default: #fffbe8;
  --dark-shadow-box: #333;
  --font-logo: "Audiowide", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* display: flex; */
  margin: auto;
  color: var(--light-black-font);
  overflow-x: hidden;
}

.home-wrapper {
  background-color: var(--yellow-background);
}

input,
button {
  font-family: "Michroma", sans-serif;
  font-weight: bolder;
}

input::placeholder {
  color: #ffcccc;
}

@media (prefers-color-scheme: light) {
  /* :root {
  } */
}
